<%- include('templates/header') %>

<div class="container">
<h1 class="text-center" style="margin-top: 5%;">About Typed:</h1>
<hr>
<p class="lead">Welcome to Typed: an online news website I have designed as a project for my Web Development course with <a href="https://www.itpt.co.uk/">ITPT</a>(IT Professional Training).
This site was built using HTML, Bootstrap, CSS, Javascript, Node JS and MongoDB.</p><br>
<p class="longform">All articles on this website were taken from a random article generator made by <a href="https://longform.org"></a>Longform</p>
</div>
<%- include('templates/footer') %>
