<%- include('templates/header') %>

<div class="container text-center">
    <div class="container newform">
    <h1 id="formhead"> New Article</h1>
    <div class="form-group">
    <form action="/latestnews" method="POST">
        <input type="text" class="form-control" name="article[title]" placeholder="Title" required>
        <br>
        <input type="text" class="form-control" name="article[image]" placeholder="Image URL" required>
        <br>
        <input type="text" class="form-control" name="article[caption]" placeholder="Caption" required>
        <br>
        <textarea class="form-control" name="article[content]" placeholder="Article content" required></textarea>
        <br>
        <button type="submit" class="btn-lg btn btn-success">Submit</button>
    </form>
</div>
</div>
</div>
<%- include('templates/footer') %>
